body {
    background-color: lightgrey;
    display: grid;
    justify-content: center;
}

#createTitlePage {
    text-align: center;
}

#createForm {
    display: flex;
    flex-direction: column;
    margin: 0px 40px 0px 40px;
}

#createForm * {
    margin: 10px;
}

#createForm button {
    margin: auto;
    width: 100px;
    
}

/* Trips page that displays all trips*/

#tripsForm {
    display: flex;
    flex-direction: column;
}

#tripsForm * {
    margin: 10px;
    text-align: center;
}

#tripsForm button {
    margin: auto;
    width: 100px;
}