<html>
<head>
<link rel="stylesheet"  href="/css/styles.css">
</head>

<header>
    <a href="http://localhost:3000/trips/register">Register Page</a>
    <a href="http://localhost:3000/trips/login">Login Page</a>
    <a href="http://localhost:3000/trips">All Trips</a>
    <a href="http://localhost:3000/trips/create-trip">Create Trip</a>
</header>

    <body>
       
       <form id="createForm" action="/trips/logout" method="GET"">
        <button>Logout</button>
       </form>

        <h1 id="createTitlePage">Trip Advisor</h1>

       <form id="createForm" action="/trips/create-trip" method="POST"">
        <span>Trip Location:</span>
        <input type="text" name="tripTitle" />
        <span>Image URL:</span>
        <input type="text" name="tripImage" />
        <span>Departure Date:</span>
        <input type="date" name="dateDEP" />
        <span>Return Date:</span>
        <input type="date" name="dateRET" />
        <button>Save</button>
       </form>

    </body>
</html>

