<html>
    <body>

       <form action="/create-trip" method="POST" style="display:flex; flex-direction: column;">
        <span>Trip Location:</span>
        <input type="text" name="tripTitle" />
        <span>Image URL:</span>
        <input type="text" name="tripImage" />
        <span>Departure Date:</span>
        <input type="text" name="dateDEP" />
        <span>Return Date</span>
        <input type="text" name="dateRET" />
        <button>Save</button>
       </form>

    </body>
</html>