<html>
<head>
<link rel="stylesheet"  href="/css/styles.css">
</head>


    <body>
<h1 id="createTitlePage">Login Page</h1>

       <form id="loginForm" action="/trips/login" method="POST"">
        <span>Username:</span>
        <input type="text" name="username" />
        <span>Password:</span>
        <input type="text" name="password" />
        <button>Save</button>
       </form>

    </body>
</html>