<html>
<head>
<link rel="stylesheet"  href="/css/styles.css">
</head>

<header>
    <a href="http://localhost:3000/trips/register">Register Page</a>
    <a href="http://localhost:3000/trips/login">Login Page</a>
    <a href="http://localhost:3000/trips">All Trips</a>
    <a href="http://localhost:3000/trips/create-trip">Create Trip</a>
</header>

    <body>
<h1 id="createTitlePage">Login Page</h1>

       <form id="loginForm" action="/trips/login" method="POST"">
        <span>Username:</span>
        <input type="text" name="username" />
        <span>Password:</span>
        <input type="text" name="password" />
        <button>Save</button>
       </form>

    </body>
</html>