<html>
<head>
<link rel="stylesheet"  href="/css/styles.css">
</head>
    <body>

        {{#trips}}
            <form id="tripsForm" action="/trips/delete-trip" method="POST" >
            <h1>{{title}} </h1>
            <span>{{dateDEP}} - {{dateRET}}</span>
            <img style="width: 400px; height: auto;" src="{{image}}"/> 
            <button>Delete</button>
            <input type="hidden" name="tripID" value="{{title}}">
            </form>
        {{/trips}}

    </body>
</html>